/* DriverRegistrationForm.css */

.driver-registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.form-card {
  background-color: #28a745; /* Green background color */
  color: #fff; /* White text color */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #fff; /* White text color for labels */
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #333; /* Darker text color for input fields */
}

.driver-signup-button {
  background-color: #fff; /* White background color for the button */
  color: #28a745; /* Green text color for the button */
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto; /* Center the button horizontally */
}

.terms-of-contact {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}

.green-heading {
  color: black; /* BLACK color */
  font-size: 35px; /* Adjust the font size */
  font-weight: bold; /* Add bold font weight */
}

.login-link {
  margin-top: 20px;
  text-align: center;
  color: black; /* White text color for login link */
}

